@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.project{
    @include max-width;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem;

    h2{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    .content{
        width: 100%;
        display: flex;
        ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            li{
                padding: 10px;
            }
        }
    }

    .card{
        height: 280px;
        padding: 13px;
        background-color: $lightBlack;
        border-radius: 20px;
        margin: 10px;
        box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);

        .cardBody{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .cardTitle{
                font-size: 2rem;
                font-weight: 700;
                color: $white;
                text-align: center;
                padding: 10px 0px 10px 0px;  
            }
            .cardText{
                font-size: 1.4rem;
                font-weight: 500;
                color: $white;
                text-align: left;
                padding: 10px 10px;  
            }

            .cardBoxSkill{
                padding: 5px 10px;  
                h5{
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: $white;
                    text-align: left;
                    padding-bottom: 10px;
                }
                span{
                    background-color: rgb(237, 84, 130);
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $white;
                    padding: 6px;
                    margin: 4px 4px 4px 4px ;
                    border-radius: 50px;  
                }
            }

            .btnProject{
                display: flex;
                justify-content: center;
                font-size: 1.8rem;
                color: #ffffff;
                background-color: #000000;
                border: 1px solid #646464;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                padding: 10px;
                border-radius: 20px;
                margin-top: 30px;
                &:hover {
                    background-color: #ffffff;
                    color: #000000;
                }
            }
        }
    }

    @include device(notebook) {
        .project{
            .content{
                ul{
                    margin: 0 auto;
                     grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
    
    @include device(tablet) {
        .content{
            ul{
                margin: 0 auto;
                 grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    @include device(mobile) {
        .content{
            ul{
                margin: 0 auto;
                 grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}